#Copyright 2015 Lcf.vs
#Released under the MIT license
#https://github.com/Lcfvs/DOMArch
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{DOCUMENT_ROOT}/%{HTTP_HOST} -d
    RewriteRule (.*) %{HTTP_HOST}/$1 [L,QSA]
</IfModule>