<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Business Name</title>
        <link rel="stylesheet" href="/lib/form.cheats/css/style.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1><a>SEPA converter</a></h1>
            <h2>BETA</h2>
            <nav>
                <ol id="languages"></ol>
            </nav>
        </header>
        <main></main>
        <footer>
        </footer>
    </body>
</html>
