<section class="fileReader">
    <h1>file-reader-title</h1>
    <form class="cheats" method="post" enctype="multipart/form-data">
        <p>
            <label for="file">click-or-drag-your-file</label>
            <input type="hidden" name="MAX_FILE_SIZE" />
            <input type="file" name="file" id="file" />
        </p>
        <table>
            <caption>identify-columns</caption>
            <thead>
                <tr>
                    <th>
                        <select>
                            <option disabled="disabled"></option>
                            <option value="file-reader-option-value-0">file-reader-option-text-0</option>
                            <option value="file-reader-option-value-1">file-reader-option-text-1</option>
                            <option value="file-reader-option-value-2">file-reader-option-text-2</option>
                            <option value="file-reader-option-value-3">file-reader-option-text-3</option>
                            <option value="file-reader-option-value-3">file-reader-option-text-4</option>
                            <option value="file-reader-option-value-5">file-reader-option-text-5</option>
                            <option value="file-reader-option-value-6">file-reader-option-text-6</option>
                            <option value="file-reader-option-value-7">file-reader-option-text-7</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="100%">
                        <button type="reset">reset-button</button>
                        <button type="submit">submit-button</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>
    </form>
</section>